* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
}

/*
@font-face {
font-family: 'Libre Franklin';
src: url('../assets/fonts/libre-franklin/libreranklin-regular.ttf');
font-weight: 400;
font-style: normal;
}

@font-face {
font-family: 'Libre Franklin';
src: url('../assets/fonts/libre-franklin/libreranklin-semibold.ttf');
font-weight: 600;
font-style: normal;
}

@font-face {
font-family: 'Libre Franklin';
src: url('../assets/fonts/libre-franklin/libreranklin-bold.ttf');
font-weight: 700;
font-style: normal;
}
 */
  html {
    font-size: 16px;
  }

  body {
    font-family: 'Noto Sans', sans-serif;
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: 'Ubuntu', sans-serif;
    padding-bottom: 1rem;
    padding-left: 6%;
  }

  p {
    padding-left: 6%;
    padding-right: 6%;
  }

  p:before {
  content: '';
  width: 10rem;
  display: block;
  overflow: hidden;
  }


  #splash-container {
    background-color: #ea4335;
    color: #ffffff;
    background-image: url('../images/background-desktop.png');
    background-size: 100%;
    background-repeat: no-repeat;
  }

  .standard-container {
    background-color: #ffffff;
    color: #555555;
  }

  .standard-container h1{
    color: #ea4335;
  }


  #header-container {
    background-color: #ea4335;
    position: fixed;
    width: 100%;
    z-index: 1;
    border-bottom: 1px solid #ea4335;
  }

  header {
    display: block;
    width: 100%;
    max-width: 960px !important;
    margin: auto;
    background-color: #ea4335;
    text-align: right;
  }


  footer {
    display: none !important;
  }

  footer p {
    display: none;
  }


  main {
    max-width: 960px;
    margin: auto;
    padding-top: 7rem;
    background-size: 100%;
    background-repeat: no-repeat;
    min-height: 100vh;
  }

  #splash {
    max-width: 960px;
    margin: auto;
    padding-top: 7rem;
    height: 100vh;
  }

  .standard {
    max-width: 960px;
    margin: auto;
    padding-top: 7rem;
    background-image: none;
  }

  article {
    font-size: 1.25rem;
  }

  aside {
    font-weight: 700;
    color: #ffffff;
    font-size: 1.25rem;
  }

  #logo {
    max-width: 180px; 
    width: 100%;
    display: inline;
    float: left;
    padding-left: 6%;
    padding-top: 0.1rem;
    padding-bottom: 0.5rem;

  }

  #btn-hamburger {
    display: block;
    float: right;
    font-size: 2.5rem;
    font-weight: 700;
    margin-left: 2rem;
    padding-right: 6%;
    color: #ffffff;
  }

  h1 {
    font-size: 2rem;
    font-weight: 600;
  }


  #tagline {
    padding-top: 5%;
    padding-bottom: 5%;
  }

  figure {
    display: block;
  }


  figcaption {
    color: #555555;
    text-align: center;
  }

  .figure-left {
    float: left;
    padding-right: 2rem;
    padding-bottom: 2rem; 

  }
  .figure-right {
    float: left;
    padding-bottom: 2rem; 
    padding-left: 6%;
    padding-right: 6%;

  }

  .figure-right img {
    width: 100%;
    max-width: 250px;
  }

  p {
    padding-bottom: 1rem;
  }

  #accent-gold {
    color: #fbbc05;
  }

  .btn {
    display: block;
    margin: auto;
    font-size: 1.25rem;
    font-weight: 700;
    color: #ea4335;
    background-color: #fbbc05;
    padding: 8px 20px 8px 20px;
    text-decoration: none;
  }

  .btn-dark {
    display: block;
    margin: auto;
    font-size: 1.25rem;
    font-weight: 700;
    color: #ffffff;
    background-color: #ea4335;
    padding: 8px 20px 8px 20px;
    text-decoration: none;
  }

  #header-mobile-nav {
    display: none;
    list-style-type: none;
  }


  #header-desktop-nav {
    display: none;
  }

  #header-desktop-nav ul {
    list-style-type: none;
    font-size: 1.5rem;
    /*  font-family: 'Libre Franklin', sans-serif; */
    font-weight: 700;
    clear: both;
    display: inline;
    float: right;
    padding-right: 6%;

  }

  #header-desktop-nav ul li {
    text-align: right;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
  }

  #header-desktop-nav a, a:link, a:visited, a:focus, a:hover, a:active {
    color: #ffffff;
    text-decoration: none;
  }


  #products h1, h2, p {
    padding-bottom: 1rem;
  }

  #products h2 {

    font-size: 1.5rem;
  }

  #products section {
    padding-bottom: 3rem;
  }

  /*** Contact form stuff ***/

  textarea, input[type=text], [type=email] {
    border: 1px solid #555555;
    line-height: 1.5rem;
    padding: 0.25em 0 0.25em 0.25em;
    width: 95%;
  }

  #contact p {
    font-family: 'Libre Franklin', sans-serif;
    padding-bottom: 0.5em;
  }

  #contact-message-label {
    padding: 0.5em 0 0 0 !important;
  }

  #contact-form {
    font-size: 1.25rem;
    padding-left: 6%;
    padding-right: 6%;
  }


  #contact-form label {
    display: inline-block;
    padding: 0.5em 0 0.25em 0;
  }

  #mailing-list-checkbox {
    display: inline-block;
    position: relative;
    top: -3px;
  }

  #mailing-list-checkbox-label {
    padding: 1.5em 0 !important;
  }

  ::placeholder { /* for most browsers */
    color: #aaaaaa;
    opacity: 1; /* firefox */
  }

  ::-ms-input-placeholder { /* edge */
    color: #aaaaaa;
  }
  :-ms-input-placeholder { /* IE*/
    color: #aaaaaa;
  }

  /*** Fixing recaptcha ***/
  /* Source: https://geekgoddess.com/how-to-resize-the-google-nocaptcha-recaptcha */

  #rc-imageselect, .g-recaptcha {
    transform: scale(0.87);
    -webkit-transform: scale(0.87);
    transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
  }

  #about {
    width: 100%;
    overflow: hidden;
    margin: 0 0 2em 0;
    height: 100%;
  }

  #products {
    width: 100%;
    overflow: hidden;
    margin: 0 0 2em 0;
    height: 100%;
  }


  #contact {
    width: 100%;
    overflow: hidden;
    margin: 0 0 2em 0;
    height: 100%;
  }


  .product-entry {
  }

  .product-img {
    display: block;
    float: left;
    padding-left: 6%;
    padding-right: 6%;
    padding-bottom: 2rem;
    max-width: 200px;
    width: 100%;
  }


  /***** MEDIA QUERIES *****/
  @media (min-width: 700px) {

    h1 {
      font-size: 3rem;
      font-weight: 700;
    }

    #header-mobile-nav {
      display: none;
    }

    #header-desktop-nav {
      padding-top: 1rem;
      display: block !important;
      float: right;
    }

    #header-desktop-nav ul {
      display: block;
      padding-right: 6%;
    }

    #header-desktop-nav ul li {
      display: inline;
      padding-right: 2rem;
    }

    #header-desktop-nav a, a:link, a:visited, a:focus, a:hover, a:active {
      color: #ea4335;
      text-decoration: none;
    }

    #header-desktop-nav ul li a {
      color: #ffffff;
      text-decoration: none;
      font-size: 1.4rem;
      font-weight: bold;
    }

    #btn-hamburger {
      display: none;
    }

  }

  @media (min-height: 830px) {

    footer {
      display: block !important;
      background-color: #ea4335;
      position: fixed;
      bottom: 0;
      width: 100%;
      color: #ffffff;
    }

    #footer-container {
      display: block;
      max-width: 960px;
      margin: auto;
    }

    footer p {
      display: block;
      padding-left: 6%;
      padding-right: 6%;
      padding-top: 0.5rem;
      padding-bottom: 0.5rem;
    }


  @media (min-width: 600px) {
    figure {
      padding-left: 1rem;
    }

  .product-img {
    float: right;
  }

  .figure-right {
    float: right;
  }

  }

  @media (min-width: 700px) {
    figure {
      padding-left: 1.5rem;
    }
  }

  @media (min-width: 800px) {
    figure {
      padding-left: 2rem;
    }
  }
